``` ad-warning
title: Quote {% if highlight_location and highlight_location_url %} ([{{highlight_location}}]({{highlight_location_url}})){% elif highlight_location %} ({{highlight_location}}){% endif %}  
icon: quote-right
{{ highlight_text }}   
```   
^loc-{{highlight_location}} 

{% if highlight_tags %} 
    Tags: 
    {% for tag in highlight_tags %}
        [[{{tag}}]] 
    {% endfor %}
{% endif %}

{% if highlight_note %}
    > {{ highlight_note }}
{% endif %}